  h1{
    font-family: system-ui;
    font-size: 60px;
    text-align: center;
    color:purple;
    font-weight: bold;
  }
  h3{
    font-size: 40px;
    text-align: center;
    color:purple;
    text-decoration: underline;
    font-weight:lighter;
  }
  .box
  {
    padding: 50px 50px 50px 50px;
    width:100%;
    float:left;
    background-color: #ddedec;
    border: 3px solid #00A4BD;
  }

  .content{
    text-align:center;
  }
